.light {
	color: white;
	background-color: black;
}

.light button {
	border-color: white;
}

.dark {
	color: black;
	background-color: white;
	border-color: white;
}

.border {
	border: 3px solid;
	border-radius: 10px;
}

canvas.border {
	border-color: white;
}

#holder {
	width: fit-content;
	margin: auto;
}

#info {
	float: right;
	margin-top: 1ch;
}

#matrix {
	float: left;
	margin: 2ch;
}

#next {
	float: right;
	margin-top: 2ch;
	margin-bottom: 2ch;
}

audio {
	margin: 2ch 0 2ch 0;
	width: 250px;
}

p {
	font-size: large;
	font-family: Consolas, monospace;
}

label {
	font-size: large;
	font-family: Consolas, monospace;
}

button {
	font-size: large;
	background-color: white;
	border-color: black;
	margin-top: 2ch;
	padding: 1ch;
}