#holder {
	width: fit-content;
	margin: auto;
}

#info {
	float: right;
	margin-top: 1ch;
}

#matrix {
	background-color: black;
	float: left;
	margin: 2ch;
	border: 3px white;
	border-radius: 10px;
}

#next {
	background-color: black;
	float: right;
	margin-top: 2ch;
	margin-bottom: 2ch;
	border: 3px white;
	border-radius: 10px;
}

audio {
	margin-top: 2ch;
	width: 250px;
}

p {
	font-size: large;
	font-family: Consolas, monospace;
}

label {
	font-size: large;
	font-family: Consolas, monospace;
}